@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.filterColors {
    filter: invert(1);
}

.customShadow {
  box-shadow: 1px 4px 10px 4px rgba(255, 255, 255, 0.959), 2px 2px 4px 4px rgb(255, 255, 255);
}

.sidebarMenu {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .bg-gray-gradient {
    background: linear-gradient(
      153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%
    );
  }

  .white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
  }

  .bg-black-gradient {
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }

  .bg-black-gradient-2 {
    background: linear-gradient(
      -168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }

  .bg-white-gradient {
    background: linear-gradient(
      144.39deg,
      #1f1f1f -278.56%,
      #6d6d6d -78.47%,
      #cececefa 91.61%
    );
  }

  .bg-white-gradient-2 {
    background: linear-gradient(
      -168.39deg,
      #11101d -278.56%,
      #6d6d6d -78.47%,
      #ffffff 91.61%
    );
  }

  